table.mapping {
    margin-top: 1em;
    margin-bottom: 1em;
}
.mapping caption {
    text-align: left;
    white-space: nowrap;
}
.bra thead tr::before, .ket thead tr::before {
    content: " ";
}
.mapping th, .mapping td {
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.bra tbody tr::before {
    content: "\2002 \27e8";
}
.bra tbody tr::after {
    content: "] \2002";
}
.bra.matrix tbody tr:first-of-type::before {
    content: "[ \27e8";
}
.bra.matrix tbody tr:last-of-type::after {
    content: "] \27e9";
}
.ket tbody tr::before {
    content: "[";
}
.ket tbody tr::after {
    content: "\27e9";
}
.mapping th {
    text-align: center;
}
.mapping td {
    text-align: right;
}
#regular-temperament, #temperament-list, #error-report {
    display: none;
}
.show-temperament #regular-temperament {
    display: block;
    margin-bottom: 2em;
}
.show-list #temperament-list {
    display: block;
}
.show-errors #error-report {
    display: block;
    color: red;
}
#temperament-list th, #temperament-list td {
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-top: 0.05em;
    padding-bottom: 0.05em;
    border-top-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    margin: 0;
}
.te, .pote {
    display: none;
}
input#show-te:checked ~ .te {
    display: block;
}
input#show-pote:checked ~ .pote {
    display: block;
}
.accordion td {
    vertical-align: top;
}
.accordion button {
    color: blue;
    background-color: #EEE;
    border-color: #CCC;
    width: 3em;
    height: 3em;
    white-space: break-spaces;
    float: left;
    clear: left;
}
.accordion button.playing {
    color: #EEE;
    background-color: blue;
    border-color: blue;
}
h4 {
    clear: both;
}
